@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark-blue: #1f2937;
  --main-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --blue-color: #3882f6;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 13%;
  background-color: var(--dark-blue);
}

.header-logo {
  font-size: 24px;
  font-weight: 800;
}

ul {
  display: flex;
  gap: 32px;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--secondary-text);
}

/* HERO SECTION */

#hero-page {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    background-color: var(--dark-blue);
    padding: 0 13%;
}

.hero-info h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--main-text);
    margin: 0;
}

.hero-info p {
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-text);
    margin: 8px 0px;
}

.hero-img {
    width: 1000px;
    height: 240px;
    background-image: url("images/code-website.jpg");
    background-size: cover;
}

.hero-info button {
    padding: 7px 30px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--blue-color);
    border-radius: 8px;
    border: none;
}